{% extends 'header.html' %}
{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static "app/css/update.css" %}">
    <title>Update</title>
</head>

<body>
<div class="col-sm-4"></div>
<div class="col-sm-4">
    <form method="POST" action="/updateform/{{form.id}}">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputname">First Name</label>
            <input type="text" class="form-control" name="first_name" value="{{form.first_name}}">
        </div>
        <div class="form-group">
            <label for="exampleInputname">Last Name</label>
            <input type="text" class="form-control" name="last_name" value="{{form.last_name}}">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" name="email" value="{{form.email}}" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
<div class="col-sm-4"></div>

</body>
{% endblock %}